<div class="jumbotron">
<h1>Floum's Mini-Chat</h1>
<p class="lead">Please sign in :</p>
<%= link_to '', '/auth/facebook', class: 'social facebook' %>
<%= link_to '', '/auth/google_oauth2', class: 'google_plus' %>
</div>
